@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@rendermode InteractiveAuto
@inject ApiClient Api

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>

@code {
    private IEnumerable<Widget> widgets = [];

    protected override async Task OnInitializedAsync()
    {
        widgets = await Api.GetMyWidgetsAsync();
    }
}
